<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookMapper">
    <select id="findAll" resultType="com.example.demo.entity.Book">
        SELECT * FROM book
    </select>
    <select id="findById" resultType="com.example.demo.entity.Book">
        SELECT * FROM book WHERE id = #{id}
    </select>
    <insert id="insert">
        INSERT INTO book (name, author, category, stock)
        VALUES (#{name}, #{author}, #{category}, #{stock})
    </insert>
    <update id="update">
        UPDATE book
        SET name = #{name}, author = #{author}, category = #{category}, stock = #{stock}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM book WHERE id = #{id}
    </delete>
</mapper>
